* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.err {
    color: #dc3931;
}

input {
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    line-height: 30px;
    font-size: 17px;
    outline: none;
    border: none;
    background: #fff;
}

/*button {
    height: 40px;
    line-height: 40px;
    background: #ccc;
    border: 1px solid #ddd;
    border-radius: 5px;
}*/

body {
  background: #f6f6f6;
  overflow-y: scroll;
}

header {
  background: #fff;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #d5322e;
}

header h1 {
  font-family: "Roboto Slab" serif;
  width: 80%;
  float: left;
  display: inline-block;
  padding-left: 10px;
  color: #d5322e;
  font-weight: normal;
}

#left {
  left: 0;
}

.artist {
  display: inline-block;
  margin-right: 20px;
}

.artist h3 {
  text-align: center;
}

div.avatar-image {
  width: 40px;
  height: 40px;
  background: #ccc;
  border-radius: 40px;
  float: right;
  line-height: 60px;
  margin-top: 10px;
  margin-right: 10px;
}

#content {
  width: 100%;
  display: block;
}

/* account */

.sb-header {
    height: 300px;
    background: url('../img/guitar.jpg') no-repeat;
    background-size: 100% 500px;
    margin-bottom: -80px;
    overflow: hidden;
    width: 100%;
}

.form {
    background: #fff;
    padding: 20px;
    padding-bottom: 80px;
    padding-top: 40px;
    z-index: 50px;
    border-radius: 10px;
    width: 640px;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 10px #777;
}

.form h2 {
    font-weight: normal;
    color: #3d6ba2;
    padding-bottom: 30px;
}

.form form {
    margin: 0 auto;
}

.input-wrapper {
    margin-bottom: 10px;
}

.account input {
    width: 280px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #dcdcdc;
}

.account button {
    width: 80px;
    color: #fff;
    background: #52dd8e;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17px;
    box-shadow: none;
    padding-bottom: 5px;
    padding-top: 5px;
    border: none;
    width: 150px;
}

#left {
    float: left;
    width: 25%;
}

.main {
  width: 75%;
  float: right;
}

#right {
    background: #fff;
    float: right;
    width: 75%;
}

.index-login {
    padding-top: 100px;
    padding: 20px;
    width: 280px;
    margin: 0 auto;
    text-align: center;
}

.index-login>div>a {
    background: #ccc;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 5px;
    background: #52dd8e;
    color: #fff;
}

/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 250px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url('../img/guitar.jpg');
}
section.module.parallax-2 {
  background-image: url("../img/guitar.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 110px;
  }
}
