@import "../../node_modules/bootstrap/less/variables";
@import "../../node_modules/bootstrap/less/mixins";
@import "../../node_modules/bootstrap/less/normalize";
@import "../../node_modules/bootstrap/less/scaffolding";
@import "../../node_modules/bootstrap/less/type";
@import "../../node_modules/bootstrap/less/code";
@import "../../node_modules/bootstrap/less/grid";
@import "../../node_modules/bootstrap/less/component-animations";
@import "../../node_modules/bootstrap/less/navs";
@import "../../node_modules/bootstrap/less/forms";
@import "../../node_modules/bootstrap/less/input-groups";
@import "../../node_modules/bootstrap/less/buttons";
@import "../../node_modules/bootstrap/less/dropdowns";
@import "../../node_modules/bootstrap/less/tables";
@import "../../node_modules/bootstrap/less/list-group";
@import "../../node_modules/bootstrap/less/wells";
@import "../../node_modules/bootstrap/less/modals";
@import "../../node_modules/bootstrap/less/utilities";
@import "../../node_modules/bootstrap/less/responsive-utilities";

* {
  margin: 0;
  padding: 0;
}

body {
    background: #fff;
}

div#header {
  background: #222;
  h1 {
    color: #52b4af;
    font-weight: 600;
    font-size: 13pt;
    margin-left: 10px;
    text-transform: uppercase;
    line-height: auto;
  }
}

#left {
  min-height: 500px;
}

#right {
  background: #fff;
}

#player {
  background: #000;
  height: 50px;
  position: absolute;
  bottom: 0;
}

.centered {
  text-align: center;
}

.menu {
  padding-top: 15px;
  padding-bottom: 15px;
  a {
    font-weight: 600;
    font-size: 12pt;
    margin-left: 15px;
    color: #fff;
    text-shadow: 1px 1px 1px #222;
  }
}

.bordered-bottom {
  border-bottom: 1px solid #ddd;
}

.bg-green {
  background: #6BBA70;
  color: #fff;
}
