{% extends 'layout.html' %}

{% block content %}
<div class="content">
    <section class="row module parallax parallax-1">
        <div class="container">
            <div class="index-login">
              <div>
                <a href="{% url 'account:signin'%}">Sign in</a>
              </div>
              <div>
                <a href="{% url 'account:signup' %}">Getting started</a>
              </div>
            </div>
            <h1>STREAMBEATS</h1>
        </div>
    </section>

    <section class="row module content">
        <div class="container">
            <h2>Music</h2>
            <p>Music doesn't lie. If there is something to be changed in this world, then it can only happen through music.<strong>Jimi Hendrix</strong></p>
            <p>Music is everybody's possession. It's only publishers who think that people own it. <strong>John Lennon</strong></p>
        </div>
    </section>
</div>
{% endblock %}
