{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div class="container-fluid" id="header">
    <div class="row">
        <h1 class="navbar brand">Streambeats</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
       <img width="100%" src="{% static 'img/35H.jpg' %}">
    </div>
    <div class="row">
      <div class="col-md-1"></div>
        <div class="col-md-10">
         <div class="index-login">
          <div>
            <a class="btn btn-lg btn-info" href="{% url 'account:signin'%}">Sign in</a>
            <a class="btn btn-lg btn-info" href="{% url 'account:signup' %}">Getting started</a>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
</div>
{% endblock %}
